/*
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  background-color: beige;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.form-control {
  margin: 0 1rem 0 1rem;
  background-color: #80808038;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

label {
  text-transform: uppercase;
  color: #0e743b;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-size: 0.9rem;
  display: block;
  font-family: Overpass;
}

button, [type=submit], [type=reset] {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.4rem 0.3rem;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

button:disabled, button[disabled],
[type=submit]:disabled, [type=submit][disabled],
[type=reset]:disabled, [type=reset][disabled] {
  cursor: wait;
}
